In [163]:
import pandas as pd
import numpy as np

In [176]:
# path to the file
file_path = "../data/raw/GdpByInd/GrossOutput.xlsx"

In [177]:
# load the required sheet
df = pd.read_excel(file_path, sheet_name='TGO105-A', skiprows=7)

In [147]:
# drop the 'Line' Column
df.drop(columns=df.columns[0], inplace=True)

In [148]:
# Drop the empty column - now second column after 'Industry'
df.drop(columns=df.columns[1], inplace=True)

In [150]:
# rename first column to 'Industry'
df.rename(columns={df.columns[0]: "Industry"}, inplace=True)

In [178]:
# remove commas and convert all yearly data to numeric
for col in df.columns[3:]:
    df[col] = df[col].astype(str).str.replace(",", "")
    df[col] = pd.to_numeric(df[col], errors="coerce")

In [179]:
df.head()

,Industries,Group,Subgroup,1997,1998,1999,2000,2001,2002,2003,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Farms,Primary Industries,"Agriculture, forestry, fishing, and hunting",219380,207822,199949,204313,212334,202363,227873,...,442202,403163,379793,395529,395074,388056,389475,472905,574223,555343
1,"Forestry, fishing, and related activities",Primary Industries,"Agriculture, forestry, fishing, and hunting",38500,41946,45364,39279,39016,39510,41425,...,56379,54733,51122,53382,53053,50994,53806,61457,65499,66345
2,Oil and gas extraction,Primary Industries,Mining,98754,72923,85516,142980,142297,116711,165971,...,445747,241538,199796,253994,346639,316004,210508,421929,652942,478748
3,"Mining, except oil and gas",Primary Industries,Mining,56374,55520,53050,54675,55091,54443,57393,...,116134,104439,94841,101852,106906,106096,96316,115877,135150,136909
4,Support activities for mining,Primary Industries,Mining,22101,23409,17542,20888,29204,24830,29532,...,165762,135473,73078,106929,132025,135631,78964,70194,87563,103802

In [154]:
# check for missing values
rows_with_missing = df[df.isna().any(axis=1)]
print(rows_with_missing)

       Industry  1997  1998  1999  2000  2001  2002  2003  2004  2005  ...  \
97     Addenda:   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
101         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
102         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
103         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
104         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
105         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...

     2014  2015  2016  2017  2018  2019  2020  2021  2022  2023
97    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
101   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
102   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
103   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
104   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
105   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[6 rows x 28 columns]

In [155]:
# drop rows with missing values
df_cleaned = df.dropna()

In [156]:
df_cleaned.shape

(100, 28)

In [183]:
df["Industries"] = df["Industries"].str.strip()

In [188]:
df["Group "] = df["Group "].str.strip()

In [189]:
df["Subgroup"] = df["Subgroup"].str.strip()

In [190]:
cols_to_clean = ["Industries", "Group ",	"Subgroup"]

for col in cols_to_clean:
    df[col] = df[col].str.replace('"', '', regex=False).str.replace("'", '', regex=False)

In [191]:
# save the output
df.to_csv("../data/processed/GdpByInd.csv", index=False)