In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("../data/raw/manufacturing-value-added-to-gdp.csv")
df.head()

        Entity Code  Year  Manufacturing, value added (% of GDP)
0  Afghanistan  AFG  2002                              18.822752
1  Afghanistan  AFG  2003                              16.923866
2  Afghanistan  AFG  2004                              17.554007
3  Afghanistan  AFG  2005                              16.598211
4  Afghanistan  AFG  2006                              16.385538

In [5]:
# rename the GDP column for convenience
df = df.rename(columns={"Manufacturing, value added (% of GDP)": "ManufacturingGDP"})

In [6]:
# check data types 
print(df.dtypes)

Entity               object
Code                 object
Year                  int64
ManufacturingGDP    float64
dtype: object

In [8]:
# check for null
print(df.isna().sum())

Entity                0
Code                495
Year                  0
ManufacturingGDP      0
dtype: int64